{% extends "user/base.html" %} {% load static %} <br />
{% block title %}
<title>RESET PASSWORD - Technopedia</title>
{% endblock title %} <br />
{% block content %}
<section
  class="sign-up-in-section bg-dark ptb-60"
  style="
    background: url('{% static "assets/img/page-header-bg.svg" %}') no-repeat right bottom;
  "
>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-8 col-12">
        <a href="index.html" class="mb-4 d-block text-center"
          ><img src="{% static 'assets/img/logo-bulb-white.png' %}" alt="logo" class="img-fluid"
        /></a>
        <div class="register-wrap p-5 bg-light shadow rounded-custom">
        <div class="row">
            <p class="text-dark">We've emailed you instructions for setting your password.</p>
            <p class="text-dark">If you don't receive an email, please make sure you've entered theaddress you registered with.</p>
            <p class="font-monospace fw-medium text-center mt-3 pt-4 mb-0">
              <a href="{% url 'loginpage' %}" class="text-decoration-none" 
                >Back to login page</a
              >
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
