{% extends "user/base.html" %} {% load static %} <br />
{% block title %}
<title>RESET PASSWORD - Technopedia</title>
{% endblock title %} <br />
{% block content %}
<section
  class="sign-up-in-section bg-dark ptb-60"
  style="
    background: url('{% static "assets/img/page-header-bg.svg" %}') no-repeat right bottom;
  "
>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-8 col-12">
        <a href="index.html" class="mb-4 d-block text-center"
          ><img src="{% static 'assets/img/logo-bulb-white.png' %}" alt="logo" class="img-fluid"
        /></a>
        <div class="register-wrap p-5 bg-light shadow rounded-custom">
          <h1 class="fw-bold h3">Reset Password</h1>
          {% if validlink %}
          <p class="text-dark">Please Enter your password twice:</p>
          <form action="#" class="mt-5 register-form" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-12">
                {% comment %} <label for="email" class="mb-1"
                  >Email <span class="text-danger">*</span></label
                > {% endcomment %}
                <div class="input-group mb-3">
                  {{form.new_password1}}
                </div>
                <div class="input-group mb-3">
                  {{form.new_password2}}
                </div>
              <div class="col-12">
                <button
                  type="submit"
                  class="btn btn-primary mt-3 d-block w-100"
                >
                  Reset Password
                </button>
              </div>
            </div>
          </form>
          {% else %}
            <p>The password reset link was invalid, possibly because it hasalready been used. Please request a new password reset.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
