{% extends "user/base.html" %} {% load static %} <br />
{% block title %}
<title>ADD QUESTION - Technopedia</title>
{% endblock title %} <br />
{% block content %} <section class="sign-up-in-section bg-dark ptb-60" style="
background: url('{% static "assets/img/page-header-bg.svg" %}') no-repeat right
bottom; " > 

<div class="container mt-3">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-7 col-md-8 col-12">
        <div class="register-wrap p-5 bg-light shadow rounded-custom mt-5">
          <h1 class="h3 d-inline">Are You sure want to delete question?</h1>
          <form action="" method='POST' class="mt-4 register-form" novalidate>
            {% csrf_token %}
            <div class="row">              
              <div class="col-12">
                <button
                  type="submit"
                  class="btn btn-sm btn-danger mt-3 d-inline w-40"
                >
                  Yes,Delete Question
                </button>
                <a
                  type="button"
                  class="btn btn-sm btn-secondary mt-3 mx-5 d-inline w-40"
                  href="{% url 'userquelist' %}"
                >
                  No, Go Back
            </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
